<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>活动规则</title>
		<script src="__STATIC__/js/font.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__STATIC__/css/rule.css" />
	</head>
	<body>
		<div class="top">
			</i>活动规则
		</div>
		<div class="content">
			<h1>(一)网络投票规则</h1>
			<ul>
				<li>1、禁止刷票,发现后取消候选案名及报名者参赛资格。</li>
				<li>2、投票方法:网友选中候选人,直接投票。</li>
				<li>3、投票次数限制:每天每用户限投1票。</li>
				<li>4、投票时间:2019年10月1日00:00:00至2019年10月7日23:59:59点。</li>
			</ul>
			<h1>(二)参与方式</h1>
			<p>本次比赛投票阶段仅设置了微信端参与方式：打开活动投票专用通道，进行投票。除此此方式之外，其他任何方式的投票都不计入票数内。</p>
			<h1>(三)郑重说明：</h1>
			<p>本次投票将进行公平、公正、公开的评选流程，维护每位参赛者的权益，防止恶意刷票等有违公正的行为，一经发现，取消参赛资格。为规范网络与微信投票行为，预防恶意投票现象的产生，保障所有参选个人在公平公正的环境下接受社会投票。依据网络投票公平公正的原则，每日每个IP限投一票，若有以下几种情形我们均视为刷票：</p>
			<ul>
				<li>1、若早上7:00--晚上23:00之间，半小时内票数增长超过4000票，将进行票数核对，如若发现刷票行为，直接取消参赛资格!</li>
				<li>2、若晚间23:00--次日7:00之间，票数超3000票，将进行票数核对，如若发现刷票行为，直接取消参赛资格!</li>
				<li>3、一天24小时之间(00:00--24:00)，票数增长超八千的，将进行票数核对，如若发现刷票行为，直接取消参赛资格!</li>
				<li>4、在投票及名单公示期间，欢迎社会监督</li>
			</ul>
			<p class="p1">本次大赛我们采用的是后置式审核，不管采用什么方式进行刷票，在数据审核时如发现异常数据，我们会通过分析软件 结合人工排查，若确认为刷票，会清除刷票数据，情节严重者，将给予一定惩罚，以确保投票公平公证!</p>
		</div>
		<div class="nav">
			<ul>
				<li>
					<a href="{:url('Index/index')}">
						<img src="__STATIC__/img/index.png"/>
						<p>首页</p>
					</a>
				</li>
				<li>
					<a href="{:url('Ranking/index')}">
						<img src="__STATIC__/img/paihang.png"/>
						<p>排行</p>
					</a>
				</li>
				<li>
					<a href="{:url('Rule/index')}">
						<img src="__STATIC__/img/guize.png"/>
						<p>活动规则</p>
					</a>
				</li>
				<li>
					<a href="{:url('VoteList/index')}">
						<img src="__STATIC__/img/liebiao.png"/>
						<p>获奖列表</p>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
